<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">
    <meta charset="UTF-8"/>

		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>	
		<link th:href="@{/css/jquery.gritter.css}" rel="stylesheet"/>
		<link th:href="@{/css/rateit.css}" rel="stylesheet"/>
		<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>	
		<link th:href="@{/css/less-style.css}" rel="stylesheet"/>	
		<link th:href="@{/css/style.css}" rel="stylesheet"/>
		<link th:href="@{/css/jquery.dataTables.css}" rel="stylesheet"/>
</head>
<body>
</body>
</html>