<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="js">

		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>	
		<script th:src="@{/js/wysihtml5-0.3.0.js}"></script>
		<script th:src="@{/js/prettify.js}"></script>
		<script th:src="@{/js/bootstrap-wysihtml5.min.js}"></script>
		<script th:src="@{/js/jquery.validate.js}"></script>
		<script th:src="@{/js/jquery.steps.min.js}"></script>
		<script th:src="@{/js/jquery.knob.js}"></script>
		<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>	
		<script th:src="@{/js/jquery.prettyPhoto.js}"></script>	
		<script th:src="@{/js/jquery.rateit.min.js}"></script>	
	    <script th:src="@{/js/moment.min.js}"></script>
	    <script th:src="@{/js/fullcalendar.min.js}"></script>
		<script th:src="@{/js/jquery.gritter.min.js}"></script>
		<script th:src="@{/js/respond.min.js}"></script>
		<script th:src="@{/js/html5shiv.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
		<script th:src="@{/js/jquery.flot.min.js}"></script>     
		<script th:src="@{/js/jquery.flot.stack.min.js}"></script>
		<script th:src="@{/js/jquery.flot.pie.min.js}"></script>
		<script th:src="@{/js/jquery.flot.resize.min.js}"></script>
		<script th:src="@{/static/js/jquery-2.2.4.min.js}"></script>
	    <script th:src="@{/static/js/moment.js"></script>
	    <script th:src="@{/static/js/underscore-min.js}"></script>
	    <script th:src="@{/static/js/jstz.js"></script>
	    <script th:src="@{/static/js/calendar.min.js}"></script>
	    <script th:src="@{/static/js/bootstrap-datetimepicker.js}"></script>
     	 <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
				"sPaginationType" : "full_numbers"
			});
			
		});
		</script>
        <script type="text/javascript">

		</script>
				
        
		
</body>
</html>